<app-menu></app-menu>

<div class="flex-container">
    <img [src]="logo1Celular" class="logo-1-celular">
</div>

<div class="flex-container">
    <img [src]="logo2Celular" class="logo-2-celular">
</div>

<div class="flex-container">
    <img [src]="logo1Pc" class="logo-1-pc">
</div>

<div class="flex-container">
    <img [src]="logo2Pc" class="logo-2-pc">
</div>

<div class="flex-container">
    <div class="contenedor-tipo-busqueda">
        <ul>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/adquisiciones">
                        ADQUISICIONES (COMPRA DE BIENES O SUMINISTROS)
                    </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/patrimonios">
                        AFECTACION DE INMUEBLES
                    </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/patrimonios">
                        ARRENDAMIENTO DE INMUEBLES
                    </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/adquisiciones">
                        ARRENDAMIENTO DE BIENES MUEBLES
                    </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/patrimonios">
                        COMODATO
                    </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/patrimonios">
                        DONACION
                    </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/obras">
                        OBRA PUBLICA
                    </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/adquisiciones">
                        PRESTACION DE SERVICIOS
                    </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/lista-documentos">
                        COMPRAS
                    </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/lista-documentos">
                        SERVICIOS
                </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/lista-documentos">
                        SERVICIOS
                </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/lista-documentos">
                        SERVICIOS
                </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/lista-documentos">
                        SERVICIOS
                </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/lista-documentos">
                        SERVICIOS
                </a>
            </li>
            <hr>
            <li class="lista-tipo-busqueda">
                <a class="ruta-tipo-busqueda" routerLink="/lista-documentos">
                        SERVICIOS
                </a>
            </li>
        </ul>
    </div>
</div>