.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-1-celular {
    width: 100%;
}

.logo-2-celular {
    width: 100%;
}

.logo-1-pc {
    width: 100%;
}

.logo-2-pc {
    width: 100%;
}

.contenedor-tipo-busqueda {
    background: white;
    border-radius: 1px;
    position: absolute;
    top: 24%;
    left: 30%;
    width: 40%;
}

.ruta-tipo-busqueda {
    text-decoration: none;
    color: black;
}

.lista-tipo-busqueda {
    list-style: none;
    margin: 2%;
    font-weight: bold;
}

.ruta-tipo-busqueda:hover {
    background: rgba(110, 110, 110, 0.4);
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    .logo-1-celular {
        width: 15rem;
        height: 6rem;
    }
    .logo-2-celular {
        width: 8rem;
        height: 8rem;
    }
    /* OCULTAR IMAGEN PC */
    .logo-1-pc {
        display: none;
    }
    .logo-2-pc {
        display: none;
    }
    .contenedor-tipo-busqueda {
        top: 20%;
        left: 35%;
        width: 60%;
    }
    .lista-tipo-busqueda {
        font-size: 10px;
    }
}


/* Surface Duo */

@media only screen and (min-device-width: 412px) and (max-device-width: 768px) {
    /* Styles */
    .logo-1-celular {
        width: 14rem;
        height: 7rem;
    }
    .logo-2-celular {
        width: 10rem;
        height: 10rem;
    }
    /* OCULTAR IMAGEN PC */
    .logo-1-pc {
        display: none;
    }
    .logo-2-pc {
        display: none;
    }
    .contenedor-tipo-busqueda {
        top: 15%;
        left: 34%;
        width: 45%;
        height: 30%;
    }
    .lista-tipo-busqueda {
        font-size: 10px;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
    .logo-1-celular {
        width: 22rem;
        height: 8rem;
    }
    .logo-2-celular {
        width: 15rem;
        height: 17rem;
    }
    /* OCULTAR IMAGEN PC */
    .logo-1-pc {
        display: none;
    }
    .logo-2-pc {
        display: none;
    }
    .contenedor-tipo-busqueda {
        top: 18%;
        left: 30%;
        width: 50%;
        height: 40%;
    }
    .lista-tipo-busqueda {
        font-size: 20px;
    }
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
    .logo-1-pc {
        width: 25rem;
        height: 10rem;
    }
    .logo-2-pc {
        width: 12rem;
        height: 12rem;
    }
    /* OCULTAR IMAGEN CELULAR */
    .logo-1-celular {
        display: none;
    }
    .logo-2-celular {
        display: none;
    }
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
    .logo-1-pc {}
    .logo-2-pc {}
    /* OCULTAR IMAGEN CELULAR */
    .logo-1-celular {
        display: none;
    }
    .logo-2-celular {
        display: none;
    }
}